.App {
  text-align: center;
}

.elementor-heading-title {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  color: #333333;
  padding-top: 100px;
}
.elementor-subtitle {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #333333;
  padding: 0px;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.getaboutUs-text {
  max-width: 50%;
  text-align: left;
}
.home-logo {
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin-right: 40px;
}

.home-text {
  max-width: 50%;
  text-align: left;
}
.section-title {
  color: #0022ff;
  font-family: 'Cairo', sans-serif;
  font-size: 42px;
}
.alternate-bg {
  background-color: #e9f0f8;
}
.impressum-parent-section {
  padding-bottom: 60px; 
}


@media (max-width: 720px) {
  .home-content {
    flex-direction: column;
  }
  .home-logo {
    width: 300px;
    height: 300px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .home-text {
    max-width: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#branches {
   margin: 0;
   box-sizing: border-box;
   overflow: auto;
  padding: 0;
}

.quote {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  background-color: #e9f0f8;
}